.App {
  text-align: center;
  &__something {
    color: #fff;
  }
}

.App-logo {
  height: 80px;
  &__yolo {
    color: black;
  }
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

