.imagelist {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: beige;
  &__col {
    .imagelist--divided-1 & {
      width: 100%;
    }
    .imagelist--divided-2 & {
      width: 50%;
    }
    .imagelist--divided-3 & {
      width: 33%;
    }
    .imagelist--divided-4 & {
      width: 25%;
    }
    .imagelist--divided-5 & {
      width: 20%;
    }
    .imagelist--divided-6 & {
      width: 16%;
    }
  }

}